body {
    background: linear-gradient(to bottom, #151515, rgba(68, 64, 64, 0.7), rgba(2, 2, 2, 0.2)), 
                url("/assets/feedback.png") no-repeat center center fixed;
    height: 62vh;
    margin-top: -25px;
    background-size: cover;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

table {
    margin-top: 20px;
    width: 100%;
}

.table th {
    background-color: #d8cee6;
    text-align: center;
    color: black;
}

.table td {
    text-align: center;
    cursor: pointer;
}

.card {
    border: none;
}