body {
    background: linear-gradient(to bottom, #151515, rgba(68, 64, 64, 0.7), rgba(2, 2, 2, 0.2)), 
                url("/assets/Allotkeeper-img.png") no-repeat center center fixed;
    background-size: cover;
    height: 65.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 600px;
}
  
h2 {
    margin-bottom: 20px;
    text-align: center;
}
  
.form-label {
    font-weight: bold;
}

.unedit {
    background-color: lightgray;
    cursor: not-allowed;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    width: 20%;
}

.card {
    border: none;
}